*.log
*.xmsgs
*.cmd
*.xwbt
*.html
*.ncd
*.exe
*.map
*.mrp
*.ngm
*.xrpt
*.prj
*.xml
*.csv
*.txt
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.wdb
*.ini
*.xsl
*.ipf

_ngo
_xmsgs
iseconfig
isim
xlnx_auto_0_xdb
xst
